main
{
    display: flex;
    flex-direction: column;
}
h1
{
    margin-top: 95px;
    margin-bottom: 50px;
}
main > p
{
    margin-top: 10px;
    width: 50%;
    text-align: center;
    margin-bottom: 70px;
}
.equipo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d1e3ff;
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    padding-top: 25px;
}
.equipo > h2
{
    margin-bottom: 25px;
}
.valores > h2
{
    margin-bottom: 60px;
}

.equipo > div
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.item
{   display: flex;
    flex-direction: column;
    align-items: center;
}
.item img
{
    height: 150px;
    width: 150px;
    margin-bottom: 6px;
}
.valor img
{
    margin-bottom: 20px;
    transition: 0.5s ease-in-out;
}

.valores
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f8;
    width: 100%;
    height: auto;
    padding-bottom: 250px;
    padding-top: 145px;
}

.valores > div
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.valor
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #d1e3ff;
    padding: 30px;
    width: 335px;
    height: 250px;
    border-radius: 15px;
    transition: 0.5s ease-out;
}
.valor > h3
{
    margin-bottom: 10px;
}
.valor:hover
{
    transform: scale(1.1);
}
.valor:hover img
{
    transform: rotate(360deg);
}