main
{
    display: flex;
    flex-direction: column;
}
h1
{
    margin-top: 90px;
    margin-bottom: 30px;
}
main > p
{
    margin-top: 10px;
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
}
.equipo
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #d1e3ff;
    width: 100%;
    height: auto;
    padding-bottom: 25px;
    padding-top: 25px;
}
.equipo > h2
{
    margin-bottom: 25px;
}
.valores > h2
{
    margin-bottom: 60px;
}

.equipo > div
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}
.item
{   display: flex;
    flex-direction: column;
    align-items: center;
}
.item img
{
    height: 150px;
    width: 150px;
    margin-bottom: 6px;
}

.valores
{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f6f6f8;
    width: 100%;
    height: auto;
    padding-bottom: 250px;
    padding-top: 160px;
}

.valores > div
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.valor
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #d1e3ff;
    padding: 30px;
    width: 350px;
    height: 250px;
    border-radius: 15px;
}
.valor > h3
{
    margin-bottom: 10px;
}