main
{
    display: flex;
    flex-direction: column;
}
main > div
{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}
main > h1
{
    text-align: center;
    margin-top: 25px;
    font-size: 35px;
    margin-bottom: 20px;
}
h2
{
    font-size: 20px;
}
.item
{
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
    align-items:center;
    height: 250px;
    justify-content: center;
}
.item > img
{
    max-width: 250px;
    max-height: 200px;
    border-radius: 15px;
}
