#primeraFila
{
    background-color: white;
}
main
{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main_box
{
    margin-top: 115px;
    background-image: url(../images/fondo_inicio.png);
    color: white;
    width: 70%;
    height: 300px;
    border-radius: 15px;
    padding: 70px;
    text-align: center;
}

.main_box  h1
{
    font-size: 70px
}
.main_box p
{
    margin-top: 20px;
    font-size: 20px;
}
.que_hacemos
{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: #f4f7f9;
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}
.que_hacemos > h2
{
    margin-left: 50px;
    margin-bottom: 10px;
}
.lin1
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
    align-items: center;
}
.lin1 > p
{
    background-color: #6ba6ff;
    padding: 10px;
    border-radius: 10px;
    color: white;
}
.lin2
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}
.lin2 > div
{
    text-align: center;
    margin: 15px;
    background-color: white;
    border-radius: 15px;
    width: 30%;
    padding: 15px;
    border: 1px rgb(56, 56, 56) dashed;
}
.lin2 img
{
    max-width: 450px;
    max-height: 300px;
}
h2
{
    font-size: 35px;
}

.trabajo
{
    text-align: center;
    margin-top: 70px;
    width: 100%;
    margin-bottom: 80px;
}
.trabajo > div
{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.trabajo > div h3
{
    color: rgb(127, 172, 255);
    font-weight: bold;
    font-size: 15px;
}
.trabajo > div img
{
    max-width: 250px;
    margin-bottom: 5px;
}
.trabajo > div p
{
    font-size: 20px
}


.clientes
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    width: 100%;
    background-color: #f4f7f9;
}
.clientes > div
{
    margin-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.client
{
    width: 35%;
    background-color: white;
    border-radius: 15px;
    border: 1px solid black;
    padding: 25px;
}
.client p
{
    margin-bottom: 8px;
    font-style: italic;
    color: rgb(104, 104, 104);
}